/* navigation */

#navbar{
    flex-direction: column;
}

#home{
    height: 370px;
    flex-direction: column;
    padding: 3px 68px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

#services{

flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 15px;
    
    
    margin-bottom: 20px;
}
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 2px 0px;
    height: auto;
}
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
#contact us box{
    width: 80%;
}

